<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example1.wms.Mapper.InventoryCheckDetailMapper">
    <insert id="add">
        insert into wms_inventory_check_detail (order_id,sku_id,location_id,book_quantity) values <foreach collection="list" item="item" separator=",">
                                                                                                    (#{item.orderId},#{item.skuId},#{item.locationId},#{item.bookQuantity})
                                                                                                  </foreach>
    </insert>

    <select id="getdetail" resultType="com.example1.wms.POJO.InventoryCheckDetail">
        select sku_id,location_id from wms_inventory_check_detail where order_id= #{orderId}
    </select>

    <select id="getbook" resultType="java.lang.Integer">
        select book_quantity from wms_inventory_check_detail where order_id = #{orderId} and sku_id = #{skuId} and location_id = #{locationId}
    </select>

    <update id="update" >
        <foreach collection="list" item="item" separator=";">
            update wms_inventory_check_detail set actual_quantity = #{item.actualQuantity} ,difference = #{item.difference},adjust_status = #{item.adjustStatus} where order_id =#{item.orderId} and sku_id = #{item.skuId} and location_id = #{item.locationId}
        </foreach>
    </update>

    <select id="getactual" resultType="java.lang.Integer">
        select actual_quantity from wms_inventory_check_detail where order_id = #{orderId} and location_id=#{locationId}
    </select>

    <update id="updateAdjust">
        update wms_inventory_check_detail set adjust_status =#{status}
                                          where order_id = #{orderId}
                                            and location_id in <foreach collection="list" item="item" separator="," open="(" close=")">
                                                                     #{item}
                                                                 </foreach>
    </update>

    <select id="getdetailByAdjust" resultType="com.example1.wms.POJO.InventoryCheckDetail">
        select order_id,sku_id,location_id,book_quantity , actual_quantity, difference from wms_inventory_check_detail where adjust_status = 1
    </select>
</mapper>